<form action="/signup" method="post">
Username:  <input type="text" name="email" value="email">
Password:  <input type="password" name="password" value="password">
Re-Enter Password:  <input type="password" name="password_confirmation" value="password">

<input type="submit" value="Sign up">

</form>
